:root {
  --gold-crayola: #e4c590;
  --quick-silver: #a6a6a6;
  --davys-grey: #595754;
  --smoky-black-1: #0e0d0b;
  --smoky-black-2: #0e0d0c;
  --smoky-black-3: #121111;
  --eerie-black-1: #161718;
  --eerie-black-2: #1b1c1d;
  --eerie-black-3: #141515;
  --eerie-black-4: #212121;

  --white-alpha-20: rgba(255, 255, 255, 0.2);
  --white-alpha-10: rgba(255, 255, 255, 0.1);

  --black-alpha-80: rgba(0, 0, 0, 0.8);
  --black-alpha-15: rgba(0, 0, 0, 0.15);

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;
}
